<style>
  .font-family: 'Buenard', serif;
</style>
      <!-- banner start -->
      <!-- ================ -->
      <div class="banner default-translucent-bg" background-position:50% 0;">
        <!-- breadcrumb start -->
        <!-- ================ -->
        <!-- breadcrumb end -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <h1 class="title object-non-visible" data-animation-effect="zoomIn" data-effect-delay="100" style=" opacity: 0.3 !important; "><center><img src="/ms-icon-144x144.png"></center></h1>
              <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
              <p class="text-center object-non-visible" data-animation-effect="zoomIn" data-effect-delay="300" style="font-family: 'Buenard', serif !important; font-size: 20px;">I have a background in leadership, account management, and sales, but technology has always been my passion! The Secret to my success is "ACE": Attitude, Commitment, Energy. With a go getter never give up Attitude, full Commitment, and no wasted Energy, success is never far behind!</p><p class="text-center object-non-visible" data-animation-effect="zoomIn" data-effect-delay="600" style="font-family: 'Buenard', serif !important; font-size: 20px;"> Recently I've completed a full stack Ruby on Rails developer bootcamp, and want to continue to learn, grow, and build upon the skills I've acquired.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

              <!-- page-title start -->
              <!-- ================ -->
              
              <div class="separator-2"></div>
              <!-- page-title end -->
              <div class="row">
                <div class="col-sm-4">
                  <div class="image-box team-member shadow mb-20">
                    <div class="overlay-container overlay-visible">
                      <img src="/IMG_4016 2.jpg" alt="">
                      <a href="/IMG_4016 2.jpg" class="popup-img overlay-link" title="Mark Bui - Full Stack Developer"><i class="icon-plus-1"></i></a>
                      <div class="overlay-bottom">
                        <div class="text">
                          <h3 class="title margin-clear">Mark Bui</h3>
                          <p class="margin-clear">Full Stack Developer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-5">
                  <p>Developer Skill Set: </p>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" data-animate-width="40%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Ruby on Rails</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" data-animate-width="30%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">JavaScript</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-grey progress-bar-striped active" role="progressbar" data-animate-width="35%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">HTML</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-gray progress-bar-striped active" role="progressbar" data-animate-width="40%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">CSS</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" data-animate-width="20%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">AngularJS</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-white progress-bar-striped active" role="progressbar" data-animate-width="40%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">PostgreSQL</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" data-animate-width="25%">
                      <span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">RSpec</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-lg-offset-1">
                  <h3 class="title">Contact Me</h3>
                  <ul class="list-icons">
                    <!-- <li><i class="fa fa-phone pr-10 text-default"></i> </li>
                    <li><i class="fa fa-mobile pr-10 text-default"></i> </li> -->
                    <li><a href="mailto:mark.bui24@gmail.com"><i class="fa fa-envelope-o pr-10"></i>Mark.Bui24@gmail.com</a></li>
                  </ul>
                  <h3>Follow Me</h3>
                  <div class="separator-2"></div>
                  <a target="_blank" href="https://www.linkedin.com/in/mark-bui-400917aa/" class="btn btn-animated linkedin btn-sm">Linkedin<i class="pl-10 fa fa-linkedin"></i></a><br>
                  <a target="_blank" href="https://github.com/marktvbui" class="btn btn-animated xing btn-sm">Github<i class="fa fa-github"></i></a>
                  <h3>See My Portfolio</h3>
                  <a class="btn btn-gray collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Click Me <i class="fa fa-plus"></i></a>
                </div>
              </div>

            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="collapseContent" class="collapse pv-20 light-gray-bg clearfix">
        <div class="container">
          <h3>Latest <strong>Projects</strong></h3>
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="/template/images/portfolio-1.jpg" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>MyMagic Webapp <br> database type app</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">MyMagic</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> Jan 2017 <i class="pl-10 icon-tag-1"></i> Web Design</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Built a database type webapp, allowing users to keep track of their Magic the Gathering cards online. Used Jquery_UI, Javascript, CSS, PostgresSQL, and RoR</p>
                  <a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="/template/images/portfolio-2.jpg" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Mini E-Commerce <br> selling random stuff</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">E-Commerce</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> Dec, 2016 <i class="pl-10 icon-tag-1"></i> E-Commerce</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Built a fully function e-commerce site with Ruby on Rails and CSS for styling.</p>
                  <a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="/template/images/portfolio-3.jpg" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Games <br> RoR and Gosu Library</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Games</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> Jan 2017 <i class="pl-10 icon-tag-1"></i> Games</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Using Ruby on Rails, and the Gosu library, built a "chase a minion" game, where you're the purple minion, catching the normal minions. Also built out a spaceship shooter game, where you shot down dropping space ships. </p>
                  <a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
      

        </div>
      </section>
      <!-- section end -->
