<style>
  .font-family: 'Buenard', serif;
</style>
      <!-- banner start -->
      <!-- ================ -->
      <div class="banner " id="mountainImage"><center><img src="https://c1.staticflickr.com/6/5542/13962336408_bd6ff23a33_b.jpg"></center>
        <!-- breadcrumb start -->
        <!-- ================ -->
        <!-- breadcrumb end -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <h1 class="title object-non-visible" data-animation-effect="zoomIn" data-effect-delay="100"><center><img src="/ms-icon-144x144.png"></center></h1>
              <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
              <p class="text-center object-non-visible" data-animation-effect="zoomIn" data-effect-delay="300" style="font-family: 'Buenard', serif !important; font-size: 25px;">I have a background in leadership, account management, and sales, but technology has always been my passion! The Secret to my success is <span class="blink" >"ACE"</span>: Attitude, Commitment, Energy. With a go getter never give up Attitude, full Commitment, and no wasted Energy, success is never far behind!</p><p class="text-center object-non-visible" data-animation-effect="zoomIn" data-effect-delay="600" style="font-family: 'Buenard', serif !important; font-size: 25px;"> Recently I've completed a full stack Ruby on Rails developer bootcamp, and want to continue to learn, grow, and build upon the skills I've acquired. </p>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
              <!-- page-title start -->
              <!-- ================ -->  
              <div class="separator with-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
              <!-- page-title end -->
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <p style="font-size: 15px;">Developer Skill Set: </p>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" data-animate-width="45%">
                      <span class="label object-non-visible" style="font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Ruby on Rails</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-gray progress-bar-striped active" role="progressbar" data-animate-width="40%">
                      <span class="label object-non-visible" style="font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">CSS</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-white progress-bar-striped active" role="progressbar" data-animate-width="40%">
                      <span class="label object-non-visible" style="font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">PostgreSQL</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-grey progress-bar-striped active" role="progressbar" data-animate-width="35%">
                      <span class="label object-non-visible" style="font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">HTML</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" data-animate-width="30%">
                      <span class="label object-non-visible" style="font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">JavaScript</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" data-animate-width="15%">
                      <span class="label object-non-visible" style="font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">AngularJS</span>
                    </div>
                  </div>
                  <div class="progress style-2 dark">
                    <span class="text"></span>
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" data-animate-width="15%">
                      <span class="label object-non-visible" style=" font-size: 15px;" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">RSpec</span>
                    </div>
                  </div>              
                </div>
                <div class="col-sm-4">
                  <div class="image-box team-member mb-20">
                    <div class="overlay-container overlay-visible">
                      <img class="selfPic" src="/self.jpg" alt="">
                       <title="Mark Bui - Full Stack Developer">
                      <div class="overlay-bottom">
                        <div class="text">
                          <h3 class="title margin-clear">Mark Bui</h3>
                          <p class="margin-clear">Full Stack Developer</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">    
                    <div class="col-sm-4"> 
                        <p style="font-size: 15px;">Other Skills: </p>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Servant Style Leadership</span>
                          <span class="skill-score" style="float: right;" >       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star text-default"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Account Management</span>
                          <span class="skill-score" style="float: right;">       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star text-default"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Customer Service</span>
                          <span class="skill-score" style="float: right;">       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star text-default"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Business Development</span>
                          <span class="skill-score" style="float: right;">       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Sales</span>
                          <span class="skill-score" style="float: right;">       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Auditing</span>
                          <span class="skill-score" style="float: right;">       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                        <div style="clear: both;">
                          <span class="skill-title" style="float: left;">Microsoft Office</span>
                          <span class="skill-score" style="float: right;">       
                            <span class="fa fa-star text-default"></span>   
                            <span class="fa fa-star text-default"></span>
                            <span class="fa fa-star text-default"></span>        
                            <span class="fa fa-star"></span>      
                            <span class="fa fa-star"></span>
                          </span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        
          
          <section class="second-container seperator">
            <div class="container">
              <div class="row">
              <!-- second start -->
                <div class="main col-md-12">
                  <center>
                    <div class="col-sm-6">
                      <h3>Coding Portfolio</h3>
                      <a class="btn btn-default collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Projects<i class="fa fa-plus"></i></a>
                    </div>
                    <div class="col-sm-6">
                      <h3>Experiences</h3>
                      <a class="btn btn-default collapsed btn-animated" data-toggle="collapse" href="#collapseContent2" aria-expanded="false" aria-controls="collapseContent2">Jobs<i class="fa fa-plus"></i></a>
                    </div>
                  </center>
                </div>
              </div>
            </div> 
          </section>
        </div>
      </div>
    </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="collapseContent" class="collapse pv-20 light-gray-bg clearfix">
        <div class="container">
          <h3>Latest <strong>Projects</strong></h3>
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://previewcf.turbosquid.com/Preview/2014/07/09__06_25_08/Spaceship1_a.png363eaf34-893e-48ad-b9c0-0fb9d9d8bfd9Large.jpg" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Game <br> RoR and Gosu Library</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Alien Invaders</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> February 2017 <i class="pl-10 fa fa-fighter-jet"></i> Games</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Using Ruby on Rails, and the Gosu library, building an alien invasion game, where a bunch of enemy ships are trying to crash land into your home base. Point of the game is to shoot them all down before they crash land!.</p>
                  <a href="https://github.com/marktvbui/Alien_Invasion" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">See Code<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://img08.deviantart.net/cf8d/i/2011/170/6/b/magic_the_gathering_dotp_2012_by_jenack-d3jcych.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>MyMagic Webapp<br> database type app</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">MyMagic</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> Jan 2017 <i class="pl-10 fa fa-database"></i> Web App</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Built a database type webapp, allowing users to keep track of their Magic the Gathering cards online. Integrated data from a third party API, used JQuery_UI to implement a drag and drop feature to more easily create decks, and/or adding to ones personal card collection. Used Ruby on Rails, with HTML, JavaScript, and CSS for front end. </p>
                  <a href="https://github.com/marktvbui/magic" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">See Code<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-d73f26d1a104306809276979ee1f8cde-joystick.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Game <br> RoR and Gosu Library</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Catch a Minion Game</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> Jan 2017 <i class="pl-10 fa fa-gamepad"></i> Games</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Using Ruby on Rails, and the Gosu library, built a "chase a minion" game, where you're the purple minion, catching the yellow minions.</p>
                  <a href="https://github.com/marktvbui/WhackARuby" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">See Code<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://www.todayifoundout.com/wp-content/uploads/2010/02/gold-dollar-sign.jpg" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Mini E-Commerce <br> Selling replica GoT weapons</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">E-Commerce</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> Dec 2016 <i class="pl-10 fa fa-money"></i> E-Commerce</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Built a fully function e-commerce site with Ruby on Rails and CSS for styling.</p>
                  <a href="https://github.com/marktvbui/Mini_Capstone" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">See Code<i class="fa fa-arrow-right pl-10"></i></a>
                </div>
              </div>
            </div>
          </div>
          
      

        </div>
      </section>
    <!--   jobs section -->
      <section id="collapseContent2" class="collapse pv-20 light-gray-bg clearfix">
      <div class="container">
        <h3>Career Path</h3>
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/American_Express_logo.svg/2000px-American_Express_logo.svg.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>American Express<br> Global Merchant Services</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Sr. Quality Assurance Field Agent</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> July 2015 - Current <i class="pl-10 fa fa-cc-amex"></i> Semi Sales & Marketing position</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">B2B role, visiting small businesses to ensure they're aware and accepting American Express Cards at their business. Sell the value of an American Express card member, and what we can do for the business. Place marketing decals at the front entrance as well as place of payment, with permission. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://photos.prnewswire.com/prnfull/20140919/147279" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Safeway<br>Leadership Team</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Head Clerk</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> August 2003 - April 2016 <i class="pl-10 fa fa-shopping-cart"></i> Hourly Manager</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Handled all escalations from employees and customers. Ensured weekly sales plan was executed to 100%, plan and ordered products to execute sales plan. Supported all departments, as needed. Stocked shelves, built displays, ordered product as needed for both. Ran the store when salaried managers left for the day. Did everything besides cut meat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://corporate.comcast.com/images/Comcast-Logo.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Xfinity Comcast<br>Residential Sales</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Xfinity Sales Associate</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> April 2015 - July 2015 <i class="pl-10 fa fa-home"></i>Residential Sales</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Sold Xfinity products (home security, cable tv, cable internet, home phone service) door to door, residentially. This was a short role as I was recruited to American Express to do a busines to business role, which was at the time, my next career path.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ee/Astound_Broadband's_Logo.svg/1280px-Astound_Broadband's_Logo.svg.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Astound Broadband<br>Leadership - Residential Sales</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Acting Sales Supervisor/District Sales Lead</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> May 2014 - April 2015 <i class="pl-10 fa fa-users"></i> Leadership</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">Started off as an entry level door to door sales rep, and moved up to sales lead, and eventually acting sales supervisor. Sold cable tv, internet, and home phone services door to door. Built and maintained a great working relationship with apartment complexes to be the "cable guy", having their apartment managers/maintenance crew recommend me for their tv/internet/phone services. Inside/outside and account management sales role, along with leading a team of sales reps.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="separator-2 mb-20"></div>
          <div class="image-box style-3-b">
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="overlay-container">
                  <img src="http://logonoid.com/images/frito-lay-logo.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>Frito Lay<br>Route Sales Department</em></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-9">
                <div class="body">
                  <h3 class="title">Account Manager</h3>
                  <p class="small mb-10"><i class="icon-calendar"></i> May 2007 - February 2013 <i class="pl-10 fa fa-usd"></i>Account Management & Sales</p>
                  <div class="separator-2"></div>
                  <p class="mb-10">B2C role, selling Frito Lay products to businesses, so they can in turn sell them to their customers. Grew all my accounts over 10% yearly. Won yearly fast start competitions, increasing sells to prior year by over 15% to rank top 15 out of 125 routes. Won a visit from the Raiderettes, when my Wal-Mart outsold the other 9 Wal-Marts in the area during the summer before football season began.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- section end -->
