// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mountainImage {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}

.skill-title {
  font-size: 20px;
}

.skill-score {
  font-size: 20px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.highlight {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  // animation: blink-animation 1s steps(5, start) infinite;
  // -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
// @keyframes blink-animation {
//   to {
//     visibility: hidden;
//   }
// }
// @-webkit-keyframes blink-animation {
//   to {
//     visibility: hidden;
//   }
// }

.self-bg {
  background-color: #C0C0C0;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}